body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.banner {
    width: 100vw;
    height: 50px;
}

#container {
    background-color: rgba(255,255,255,0.5);
    /* filter: blur(1px); */
    position: relative;
    margin: 10px 10px 10px 10px;
    height: 100%;
    width: 99%;
}

.content {
    filter: none;
    float: left !important;
    height: 100%;
}

#submenu {
    width: 13%;
}

#main {
    width: 86%;
}

#menu {
    width: 100%;
    height: 70px;
}

#full {
    height: 100%;
    width: 100%;
    position: fixed;
}

#background::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255,255,255,0.35);
}
#background {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/dark_background.png');
    background-size: cover;
}
/*testing*/
