body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.banner {
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    padding: 10px;
    width: 100vw;
    top: -15px;
    text-shadow: 0.1em 0.1em 0.2em white ;
    height: 50px;
}

.nob{
    border: none;
	cursor: pointer;
	appearance: none;
	background-color: inherit;
    font-size: large;
}

#container::before {
    filter: blur(2px);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

#container {
    margin: 10px 0 0 0;
    padding: 10px;
    background-color: rgba(255,255,255,0.5);
    border: 1px rgba(0, 0, 0, 0.45) solid;
    align-items: center;
    border-radius: 3px;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    height: fit-content;
    min-height: 73%;
    overflow: auto;
    width: 95vw;
}

.content {
    filter: none;
    float: left !important;
    height: 100%;
}

#submenu {
    width: 13%;
}

#main {
    width: 86%;
}

#menu {
    overflow-x: auto;
    padding: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    width: 95vw;
    height: 70px;
    background-color: aqua;
    margin: 0 ;
}

#full {
    height: 100%;
    width: 100%;
    position: fixed;
}

/* #background::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255,255,255,0.35);
} */
#background {
    padding: 0;
    background-color: rgba(255, 255, 255, 0.447);
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/light_background.png');
    background-size: cover;
}

ul li {
    font-size: 20px;
    display: inline-block;
    position: relative;
}

.submenu {
    width: 100vw;
    display: none;
    position: absolute;
    top: 50px;
    left: -20px;
}

.selection {
    margin: 0 30px 0 0;
}

#mainmenu {
    padding: 0 0 0 10px;
    margin: 0;
    position: relative;
    top: 1px;
}

.secSel {
    text-align: center;
    position: relative;
    height: 50px;
}

iframe {
    width: 100%;
    height: 100%;
}